<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="diff_bot">
  <!-- Include other XACRO files -->
  <xacro:include filename="properties.xacro"/>
  <xacro:include filename="inertial_macros.xacro"/>
  <xacro:include filename="chassis.xacro"/>
  <xacro:include filename="wheels.xacro"/>
  <xacro:include filename="caster_wheel.xacro"/>
  <xacro:include filename="lidar.xacro"/>
  <xacro:include filename="camera.xacro"/>
  <xacro:include filename="gazebo_control.xacro"/>
  <xacro:include filename="control.xacro"/>

  
  <!-- Base link - the root of the robot -->
  <link name="base_link"/>
</robot>